@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--family: 'Nunito Sans', sans-serif;
	--fs-sm: 14px;
	--fs-md: 16px;
	--fs-lrg: 20px;
	--fw-light: 300;
	--fw-normal: 600;
	--fw-bold: 800;

	--radii: 0.5rem;
}

body[data-theme='dark'] {
	--colors-text: white;
	--colors-bg: hsl(207, 26%, 17%);
	--colors-ui-base: hsl(209, 23%, 22%);

	--shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
	/* transition: all 0.2s ease; */
}
body[data-theme='light'] {
	--colors-text: hls(200, 15%, 8%);
	--colors-bg: hsl(0, 0%, 100%);
	--colors-ui-base: hsl(207, 26%, 90%);
	--colors-ui-alt: hsl(200, 15%, 8%);

	--shadow: hsl(209, 23%, 85%) 0 8px 15px;
	/* transition: all 0.2s ease; */
}

body {
	margin: 0;
	font-family: var(--family);
	color: var(--colors-text);
	font-weight: var(--fw-light);
	background-color: var(--colors-bg);
	transition: all 0.3s ease;
}
